/*
 * 이 폴더의 세 문서가 쓰는 글자만 남긴 Google Fonts 하위 집합이다.
 * PDF를 만들 때 네트워크를 타지 않게 하려고 파일을 옆에 둔다.
 * Gowun Batang · IBM Plex Sans KR · IBM Plex Mono — 모두 SIL Open Font License 1.1.
 * 다시 만드는 방법은 README.md에 있다.
 */
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-91814ed3.woff2') format('woff2');
  unicode-range: <re.Match object; span=(233, 359), match='unicode-range: U+d464-d477, U+d47a-d47b, U+d47d-d>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-1b6d12d0.woff2') format('woff2');
  unicode-range: <re.Match object; span=(233, 403), match='unicode-range: U+d257-d27f, U+d281-d29b, U+d29d-d>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-a4544c24.woff2') format('woff2');
  unicode-range: <re.Match object; span=(234, 480), match='unicode-range: U+c996-c997, U+c99a-c99c, U+c99e-c>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-44ccceaa.woff2') format('woff2');
  unicode-range: <re.Match object; span=(234, 588), match='unicode-range: U+c779-c77b, U+c77e-c782, U+c786, >;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-56bd6aee.woff2') format('woff2');
  unicode-range: <re.Match object; span=(234, 849), match='unicode-range: U+81-82, U+84, U+a2-a5, U+a7-a8, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-0fc34037.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1045), match='unicode-range: U+3b1, U+2466, U+25a1, U+25a3, U+2>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-a6fc1ca6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1045), match='unicode-range: U+131, U+2032, U+2465, U+2642, U+3>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-327bbf44.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1035), match='unicode-range: U+b4, U+20a9, U+20ac, U+2190, U+24>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-ef3c2d50.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1043), match='unicode-range: U+2161, U+2228, U+2299, U+2464, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-0a67efd1.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1026), match='unicode-range: U+2103, U+2463, U+25c6, U+25cb, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-a61fe1f5.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1029), match='unicode-range: U+2039-203a, U+223c, U+25b3, U+25b>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-3f81fd6f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1036), match='unicode-range: U+b0, U+e9, U+2193, U+2462, U+260e>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-227b13c6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1036), match='unicode-range: U+e0, U+e2, U+395, U+3b7, U+3ba, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-98b496cd.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1030), match='unicode-range: U+24, U+60, U+3b9, U+3bb, U+3bd, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-e992fb08.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1040), match='unicode-range: U+d7, U+ea, U+fc, U+2192, U+25bc, >;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-6913c12e.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1044), match='unicode-range: U+e7, U+2022, U+203b, U+25c0, U+26>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-845dbfdd.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1046), match='unicode-range: U+2665, U+3160, U+4e2d, U+6587, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-e43f6d3e.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1038), match='unicode-range: U+5e, U+25b2, U+25b6, U+314e, U+ac>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-bd5b798e.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1039), match='unicode-range: U+3c-3d, U+2026, U+24d2, U+314b, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-07ecd8f5.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1035), match='unicode-range: U+23, U+25, U+5f, U+a9, U+ac08, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-df7bfda4.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1030), match='unicode-range: U+26, U+2b, U+3e, U+40, U+7e, U+ac>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-6efa87c2.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1030), match='unicode-range: U+d, U+48, U+7c, U+ac10, U+ac15, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-df92ffae.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 1033), match='unicode-range: U+39, U+49, U+4d-4e, U+a0, U+ac04,>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-fbd51729.woff2') format('woff2');
  unicode-range: <re.Match object; span=(235, 507), match='unicode-range: U+20-22, U+27-2a, U+2c-38, U+3a-3b>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/gowun-batang-400-75554953.woff2') format('woff2');
  unicode-range: <re.Match object; span=(207, 393), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-ecbf8a75.woff2') format('woff2');
  unicode-range: <re.Match object; span=(237, 363), match='unicode-range: U+d464-d477, U+d47a-d47b, U+d47d-d>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-c4931c27.woff2') format('woff2');
  unicode-range: <re.Match object; span=(237, 407), match='unicode-range: U+d257-d27f, U+d281-d29b, U+d29d-d>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-75cdb91d.woff2') format('woff2');
  unicode-range: <re.Match object; span=(238, 484), match='unicode-range: U+c996-c997, U+c99a-c99c, U+c99e-c>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-13680835.woff2') format('woff2');
  unicode-range: <re.Match object; span=(238, 592), match='unicode-range: U+c779-c77b, U+c77e-c782, U+c786, >;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-80785d84.woff2') format('woff2');
  unicode-range: <re.Match object; span=(238, 853), match='unicode-range: U+81-82, U+84, U+a2-a5, U+a7-a8, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-8b9f2c0e.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1049), match='unicode-range: U+3b1, U+2466, U+25a1, U+25a3, U+2>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-5a090bdb.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1049), match='unicode-range: U+131, U+2032, U+2465, U+2642, U+3>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-f8cb0154.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1039), match='unicode-range: U+b4, U+20a9, U+20ac, U+2190, U+24>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-6db24ee6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1047), match='unicode-range: U+2161, U+2228, U+2299, U+2464, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-b737664b.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1030), match='unicode-range: U+2103, U+2463, U+25c6, U+25cb, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-cc2f9c39.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1033), match='unicode-range: U+2039-203a, U+223c, U+25b3, U+25b>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-c873033a.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1040), match='unicode-range: U+b0, U+e9, U+2193, U+2462, U+260e>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-f735dc9b.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1040), match='unicode-range: U+e0, U+e2, U+395, U+3b7, U+3ba, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-0f97a16c.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1034), match='unicode-range: U+24, U+60, U+3b9, U+3bb, U+3bd, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-5920ea97.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1044), match='unicode-range: U+d7, U+ea, U+fc, U+2192, U+25bc, >;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-8fc9484e.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1048), match='unicode-range: U+e7, U+2022, U+203b, U+25c0, U+26>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-ab5cb28f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1050), match='unicode-range: U+2665, U+3160, U+4e2d, U+6587, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-72f2423a.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1042), match='unicode-range: U+5e, U+25b2, U+25b6, U+314e, U+ac>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-a7745d18.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1043), match='unicode-range: U+3c-3d, U+2026, U+24d2, U+314b, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-3535ce2c.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1039), match='unicode-range: U+23, U+25, U+5f, U+a9, U+ac08, U+>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-5ca5b9af.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1034), match='unicode-range: U+26, U+2b, U+3e, U+40, U+7e, U+ac>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-503802d6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1034), match='unicode-range: U+d, U+48, U+7c, U+ac10, U+ac15, U>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-618c6eae.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 1037), match='unicode-range: U+39, U+49, U+4d-4e, U+a0, U+ac04,>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-f32f5a2a.woff2') format('woff2');
  unicode-range: <re.Match object; span=(239, 511), match='unicode-range: U+20-22, U+27-2a, U+2c-38, U+3a-3b>;
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('fonts/gowun-batang-700-6c0073d3.woff2') format('woff2');
  unicode-range: <re.Match object; span=(211, 397), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-mono-400-e2661bcc.woff2') format('woff2');
  unicode-range: <re.Match object; span=(210, 396), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('fonts/ibm-plex-mono-500-0bc96cd0.woff2') format('woff2');
  unicode-range: <re.Match object; span=(214, 400), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-mono-600-1b581b15.woff2') format('woff2');
  unicode-range: <re.Match object; span=(214, 400), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-edb7424f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(245, 371), match='unicode-range: U+d464-d477, U+d47a-d47b, U+d47d-d>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-1ce46753.woff2') format('woff2');
  unicode-range: <re.Match object; span=(245, 415), match='unicode-range: U+d257-d27f, U+d281-d29b, U+d29d-d>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-218464dc.woff2') format('woff2');
  unicode-range: <re.Match object; span=(246, 492), match='unicode-range: U+c996-c997, U+c99a-c99c, U+c99e-c>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-27ddbb43.woff2') format('woff2');
  unicode-range: <re.Match object; span=(246, 600), match='unicode-range: U+c779-c77b, U+c77e-c782, U+c786, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-704d87f1.woff2') format('woff2');
  unicode-range: <re.Match object; span=(246, 861), match='unicode-range: U+81-82, U+84, U+a2-a5, U+a7-a8, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-67deee90.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1057), match='unicode-range: U+3b1, U+2466, U+25a1, U+25a3, U+2>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-9db66c74.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1057), match='unicode-range: U+131, U+2032, U+2465, U+2642, U+3>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-f48e4dc9.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1047), match='unicode-range: U+b4, U+20a9, U+20ac, U+2190, U+24>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-30ec5d62.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1055), match='unicode-range: U+2161, U+2228, U+2299, U+2464, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-38f6c967.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1038), match='unicode-range: U+2103, U+2463, U+25c6, U+25cb, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-fadcea34.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1041), match='unicode-range: U+2039-203a, U+223c, U+25b3, U+25b>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-ab9118b4.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1048), match='unicode-range: U+b0, U+e9, U+2193, U+2462, U+260e>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-7835d9b3.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1048), match='unicode-range: U+e0, U+e2, U+395, U+3b7, U+3ba, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-0ea9c85f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1042), match='unicode-range: U+24, U+60, U+3b9, U+3bb, U+3bd, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-a8d945cb.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1052), match='unicode-range: U+d7, U+ea, U+fc, U+2192, U+25bc, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-4e1ea616.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1056), match='unicode-range: U+e7, U+2022, U+203b, U+25c0, U+26>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-7127b6cb.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1058), match='unicode-range: U+2665, U+3160, U+4e2d, U+6587, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-72b93754.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1050), match='unicode-range: U+5e, U+25b2, U+25b6, U+314e, U+ac>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-eeb5ec42.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1051), match='unicode-range: U+3c-3d, U+2026, U+24d2, U+314b, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-1a4fffa6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1047), match='unicode-range: U+23, U+25, U+5f, U+a9, U+ac08, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-b93de93a.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1042), match='unicode-range: U+26, U+2b, U+3e, U+40, U+7e, U+ac>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-f92b3116.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1042), match='unicode-range: U+d, U+48, U+7c, U+ac10, U+ac15, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-b915e161.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 1045), match='unicode-range: U+39, U+49, U+4d-4e, U+a0, U+ac04,>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-85271161.woff2') format('woff2');
  unicode-range: <re.Match object; span=(247, 519), match='unicode-range: U+20-22, U+27-2a, U+2c-38, U+3a-3b>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-400-9358bcb1.woff2') format('woff2');
  unicode-range: <re.Match object; span=(219, 405), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-f157b424.woff2') format('woff2');
  unicode-range: <re.Match object; span=(249, 375), match='unicode-range: U+d464-d477, U+d47a-d47b, U+d47d-d>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-42128540.woff2') format('woff2');
  unicode-range: <re.Match object; span=(249, 419), match='unicode-range: U+d257-d27f, U+d281-d29b, U+d29d-d>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-946699c8.woff2') format('woff2');
  unicode-range: <re.Match object; span=(250, 496), match='unicode-range: U+c996-c997, U+c99a-c99c, U+c99e-c>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-b70dfcc9.woff2') format('woff2');
  unicode-range: <re.Match object; span=(250, 604), match='unicode-range: U+c779-c77b, U+c77e-c782, U+c786, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-2db5ec0f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(250, 865), match='unicode-range: U+81-82, U+84, U+a2-a5, U+a7-a8, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-bf153bd9.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1061), match='unicode-range: U+3b1, U+2466, U+25a1, U+25a3, U+2>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-a4756c94.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1061), match='unicode-range: U+131, U+2032, U+2465, U+2642, U+3>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-ce0a107d.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1051), match='unicode-range: U+b4, U+20a9, U+20ac, U+2190, U+24>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-9da89020.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1059), match='unicode-range: U+2161, U+2228, U+2299, U+2464, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-a5126cc3.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1042), match='unicode-range: U+2103, U+2463, U+25c6, U+25cb, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-25780f36.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1045), match='unicode-range: U+2039-203a, U+223c, U+25b3, U+25b>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-35ded4cf.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1052), match='unicode-range: U+b0, U+e9, U+2193, U+2462, U+260e>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-71dca642.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1052), match='unicode-range: U+e0, U+e2, U+395, U+3b7, U+3ba, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-8ad5a9f6.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1046), match='unicode-range: U+24, U+60, U+3b9, U+3bb, U+3bd, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-3fc94758.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1056), match='unicode-range: U+d7, U+ea, U+fc, U+2192, U+25bc, >;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-4c62d275.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1060), match='unicode-range: U+e7, U+2022, U+203b, U+25c0, U+26>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-1157eddd.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1062), match='unicode-range: U+2665, U+3160, U+4e2d, U+6587, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-421dc86f.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1054), match='unicode-range: U+5e, U+25b2, U+25b6, U+314e, U+ac>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-65373131.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1055), match='unicode-range: U+3c-3d, U+2026, U+24d2, U+314b, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-b1e32215.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1051), match='unicode-range: U+23, U+25, U+5f, U+a9, U+ac08, U+>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-82b9088b.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1046), match='unicode-range: U+26, U+2b, U+3e, U+40, U+7e, U+ac>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-909b7364.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1046), match='unicode-range: U+d, U+48, U+7c, U+ac10, U+ac15, U>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-1871d771.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 1049), match='unicode-range: U+39, U+49, U+4d-4e, U+a0, U+ac04,>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-824265dc.woff2') format('woff2');
  unicode-range: <re.Match object; span=(251, 523), match='unicode-range: U+20-22, U+27-2a, U+2c-38, U+3a-3b>;
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('fonts/ibm-plex-sans-kr-600-8849e747.woff2') format('woff2');
  unicode-range: <re.Match object; span=(223, 409), match='unicode-range: U+0000-00FF, U+0131, U+0152-0153, >;
}
